
.accordion {
    font-size: 1rem;
    /*min-width: 250px;*/
    background-color: #730404;
    margin: 0 auto;

}

.accordion-header,
.accordion-body {
    background: white;
}

.accordion-header {
    padding: 1.5em 1.5em;

    background: #730404;
    color: white;
    cursor: pointer;
    font-size: .7em;
    letter-spacing: .1em;
    transition: all .3s;
    text-transform: uppercase;
}

.accordion__item {
    border-bottom: 1px solid rgba(78, 4, 4, 0.87);
}

.accordion__item .accordion__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.accordion-header:hover {
    background: #9a0404;
    position: relative;
    z-index: 5;
}

.accordion-body {
    background: #fcfcfc;
    color: #353535;
    display: none;
}

.accordion-body__contents {
    padding: 1.5em 1.5em;
    font-size: .85em;
}

.accordion__item.active:last-child .accordion-header {
    border-radius: none;
}

.accordion:first-child > .accordion__item > .accordion-header {
    border-bottom: 1px solid transparent;
}

.accordion__item > .accordion-header:after {
    content: " ^ ";
    font-family: IonIcons;
    font-size: 1.2em;
    float: right;
    position: relative;
    top: -2px;
    font-weight: bolder;
    font-style: oblique;
    transition: .3s all;
    transform: rotate(0deg);
}

.accordion__item.active > .accordion-header:after {
    transform: rotate(-180deg);
}

.accordion__item.active .accordion-header {
    background: #9a0404;
}

.accordion__item .accordion__item .accordion-header {
    background: #f1f1f1;
    color: #353535;
}

@media screen and (max-width: 1000px) {
    .accordion {
        width: 100%;
    }
}