
body {
    background-color: #f1f1f157;
    color:#1d1b1b;
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: rgb(54, 54, 54);
}
.topRoundedLine{
  margin :15px;
  padding-top: 25px;
  border-top: 2px solid #969393;
  border-bottom: 2px solid #969393;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th{
  padding: 15px;
  color:#fff;
}

td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(61, 57, 57);
}
th {
  text-align: left;
}
thead th {
  background-color:rgb(177, 11, 11);
}
tbody tr:hover {
  background-color: rgb(209, 176, 176);
  color :#fff!important;
}
tbody td {
  position: relative;
}

tbody td  a:hover{
  font-weight: bold;
}

tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}



.cover{
  padding:15px;
}

#display-upload-progress{
    display :none;
    width : 100%;
    float :right;

}
/* SPINNER */
.lds-grid {
   /* display: inline-block;*/
    position: relative;
    width: 20px;
    height: 20px;
  }
  .lds-grid div {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #002255;
    color:#11163a;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 2px;
    left: 2px;
    color:#11163a;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 2px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 2px;
    left: 14px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 8px;
    left: 2px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 8px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 8px;
    left: 14px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 14px;
    left: 2px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 14px;
    left: 8px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 14px;
    left: 14px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }

/* MARK  **** */
.markk:hover{
    cursor: pointer;
    color : #002255;
    font-weight: bold;
}
/*--------------------- -FORMULAIRE ------------------------------------*/
.formulaire-theme{
    width:100%;
    border : 2px solid rgb(177, 11, 11);
    border-radius: 8px;
    padding : 15px;
  }

.formulaire-blocknote{
    width:100%;
    border : 2px solid #4228da;
    border-radius: 8px;
    padding : 15px;
   
}
 
  .btn-redCode{
    float: right;
   
    border : 2px solid rgb(177, 11, 11);
    border-radius: 8px;
    padding : 15px;
    font-weight: bold;

    background-color: #f8fafc;
    color : rgb(177, 11, 11)!important;

    
    width:150px;
  }
  .btn-redCode:hover{
   border : 2px solid rgb(177, 11, 11);
   background-color: rgb(177, 11, 11);
    color : #fff!important;
   
  }
 
  .btn-purpleCode{
   float: right;
   
   border : 2px solid  #4228da;
   border-radius: 8px;
   padding : 15px;
   font-weight: bold;
   background-color: #f8fafc;
   color :  #4228da;
   width:150px;
 }
 
  .btn-purpleCode:hover{
   border : 2px solid  #4228da;
   background-color:  #4228da;
   color : #fff;
   
   
   
  }
  .closeBtn{
    position: relative;
   top :-15px;
   right:-10px;
    float: right;
    color :rgb(177, 11, 11);
    font-size: 22px;
  }
  .closeBtn:hover{
    /*background-color: rgba(185, 114, 33, 1);*/
    color:red;
  }
  .iclose:hover{
   color :rgb(26, 23, 23);
  }
  #labelAlert{
    display: none;
  }


/**-------------------------------------------------- */
.upper{
    z-index:-1!important;
}
.edit-btn {
    z-index: 155000!important;
    background-color: #11163a57;
    color: #fff!important;
    border-radius: 50%;
    width:35px;
    height: 35px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 10px;
}
.edit-btn:hover {
    background-color: #11163a;
}
.edit-btn i{
    margin-right: 16px;
}
.delete-btn{
    z-index: 5000!important;
    background-color: #9b15035d;
    color: #fff!important;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 11px;
}
.delete-btn:hover{
    background-color: #9b1503;
}
.delete-btn i{
    color: #fff;
    margin-right: 16px;
}
.preview {
    margin-left: 40px;
    margin-top: 30px;
}
/* comment */
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* BEWARE */
p.tip {
    padding: 12px 24px 12px 30px;
    margin: 2em 0;
    border-left-width: 4px;
    border-left-style: solid;
    background-color: #f8f8f8;
    position: relative;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    z-index: 1000;
}

p.tip:before {
    position: absolute;
    top: 11px;
    left: -12px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}
p.tip:before {
    content: "!";
}
p.warning {
    border-left-color: #ffa500;
}
p.warning:before {
    background-color: #ffa500;
}

/*Important*/

p.imp {
    border-left-color: #f66;
}
p.imp:before {
    background-color: #f66;
}

/* Big title */
h1, h2, h3, h4, strong {
    font-weight: 600;
    color: #273849;
}


h2 a, h3 a,  h2 button, h3 button {
    pointer-events: auto;
    color: #273849;
    text-decoration: none;
}

/*comment-bar*/
blockquote {
    margin: 2em 0;
    padding-left: 20px;
    border-left: 4px solid #42b983;
}
blockquote p {
    font-weight: 600;
    margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
pre{
    padding: 0px;
}
.code-s{
    position: relative;
    padding :10px;
    color: #35a32f;
    background-color: rgb(19, 18, 18);
    font-weight: 700;
    font-family: "Nunito", sans-serif;
}
/* code */
pre code {
    overflow-x: auto;
    color: #1d1b1b;
    white-space: pre-wrap;
    background-color: rgb(235, 235, 235);
    padding: 15px;
    margin-top:30px;
    display: block;
    font-weight: 900;
    font-size: medium;
   /* line-height: 1.6rem;
    
    
    font-family: "Nunito", sans-serif;*/
}

code.js::before {
    content: "JS";
    float: right;
}
code.php::before {
    content: "PHP";
    float: right;
}


.term::before {
    content: "term";
    color: #1d1b1b!important;
    top: 11px;
    left: 12px;
    
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 44px;
}



pre code.hljs.js::before {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    text-align: right;
    font-size: 0.9em;
    padding: 5px 5px 0;
    line-height: 15px;
    height: 15px;
    font-weight: 600;
}
/*
hljs-symbol
hljs-string
hljs-value
hljs-command
hljs-prompt
*/
pre code .hljs-symbol, pre code .hljs-symbol pre code .hljs-string, pre code .hljs-value, pre code .hljs-regexp, pre code .hljs-string, pre code .hljs-subst, pre code .hljs-haskell pre code .hljs-type, pre code .hljs-preprocessor, pre code .hljs-ruby pre code .hljs-class pre code .hljs-parent, pre code .hljs-built_in, pre code .hljs-sql pre code .hljs-aggregate, pre code .hljs-django pre code .hljs-template_tag, pre code .hljs-django pre code .hljs-variable, pre code .hljs-smalltalk pre code .hljs-class, pre code .hljs-javadoc, pre code .hljs-django pre code .hljs-filter pre code .hljs-argument, pre code .hljs-smalltalk pre code .hljs-localvars, pre code .hljs-smalltalk pre code .hljs-array, pre code .hljs-attr_selector, pre code .hljs-pseudo, pre code .hljs-addition, pre code .hljs-stream, pre code .hljs-envvar, pre code .hljs-apache pre code .hljs-tag, pre code .hljs-apache pre code .hljs-cbracket, pre code .hljs-tex pre code .hljs-command, pre code .hljs-prompt {
    color: #42b983;
}

pre code .hljs-keyword, pre code .hljs-attribute {
    color: #d63200;
}

.hash{
    margin-left : 45px;
    font-size: 1.4em;
}
.hash:before {
    content: "#";
    color: #42b983;
    display: block;
    margin-top: 0px;
    margin-left:-50px;
    height: 0px;
    font-size: 1.3em;
    line-height: 1;
    font-weight: normal ;
}
sup {
    vertical-align: super;
    font-size: smaller;
}

.redtext {
    color: #d63200;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
}

.greentext {
    color: #42b983;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
}

.orangetext {
    color: #e7b018;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
}

.bluetext {
    color: #0b0b29;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
}

code {
    color: #d63200;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
    white-space: nowrap;
}
.wysiwyg {
    border: 1px solid black;
    border-radius: 5px;
}
.boxShadow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    margin: 5px;
    padding:5px;
    font-size: 1.2em;
    color : rgb(32, 32, 32);  
    border-radius: 0 5px 5px 5px;
    box-shadow: 2px 2px 2px #888888;  
  
  }
  
